apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: azure-pvc
  labels: 
    name: azure-app
spec:
  resources:
    requests:
      storage: 1Gi
  accessModes:
    - ReadWriteOnce


---

apiVersion: v1
kind: Pod
metadata:
  name: azure-app
  labels:
    name: azure-app
spec:
  containers:
  - name: azure-app
    image: nginx
    resources:
      limits:
        memory: "128Mi"
        cpu: "500m"
    ports:
      - containerPort: 80
    command: 
    - /bin/sh
    - -c 
    - while true; do echo $(date) >> /mnt/blobdisk/outfile; sleep 1; done
    volumeMounts: 
    - name: blobdisk01
      mountPath: /mnt/blobdisk/
  volumes:
  - name: blobdisk01
    persistentVolumeClaim:
      claimName: azure-pvc