apiVersion: apps/v1
kind: Deployment
metadata:
  name: azfunc
spec:
  selector:
    matchLabels:
      app: azfunc
  template:
    metadata:
      labels:
        app: azfunc
    spec:
      containers:
      - name: azfunc
        image: rlangel/azfuncimage:v1
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 80


---

apiVersion: v1
kind: Service
metadata:
  name: azfunc-80
spec:
  type: LoadBalancer
  selector:
    app: azfunc
  ports:
  - name: "80tcp"
    port: 80
    targetPort: 30080
    protocol: TCP